<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeb6f68SEtKmPGNmTjw3A1c6guuGUX44Y</string>
	<key>GCM_SENDER_ID</key>
	<string>634366972858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timely.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>timely-32c28</string>
	<key>STORAGE_BUCKET</key>
	<string>timely-32c28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634366972858:ios:eb1e12f81a1571db7d0383</string>
</dict>
</plist>